.vscode/

CPP00/ex00/megaphone.o
CPP00/ex00/megaphone
CPP00/ex01/objs/
CPP00/ex01/phonebook
CPP00/ex02/objs/
CPP00/ex02/blabla

CPP01/ex00/objs/
CPP01/ex00/zombie
CPP01/ex01/objs/
CPP01/ex01/horde
CPP01/ex02/main.o
CPP01/ex02/brain
CPP01/ex03/objs/
CPP01/ex03/humans
