.vscode/
.DS_Store

CPP00/ex00/megaphone.o
CPP00/ex00/megaphone
CPP00/ex01/objs/
CPP00/ex01/phonebook
CPP00/ex02/objs/
CPP00/ex02/blabla

CPP01/ex00/objs/
CPP01/ex00/zombie
CPP01/ex01/objs/
CPP01/ex01/horde
CPP01/ex02/main.o
CPP01/ex02/brain
CPP01/ex03/objs/
CPP01/ex03/humans
CPP01/ex04/main.o
CPP01/ex04/mysedisbetterthanyours
CPP01/ex04/test.txt.replace
CPP01/ex05/objs/
CPP01/ex05/karen
CPP01/ex06/objs/
CPP01/ex06/karenFilter

CPP02/ex00/objs/
CPP02/ex00/myFirstOrthodoxClass
CPP02/ex01/objs/
CPP02/ex01/aBetterOrthodoxClass
CPP02/ex02/objs/
CPP02/ex02/theBestOrthodoxClass

CPP03/ex00/objs/
CPP03/ex00/clapTrap
CPP03/ex01/objs/
CPP03/ex01/scavTrap
CPP03/ex02/objs/
CPP03/ex02/fragTrap
CPP03/ex03/objs/
CPP03/ex03/diamondTrap

CPP04/ex00/objs/
CPP04/ex00/polymorphism
CPP04/ex01/objs/
CPP04/ex01/brain
CPP04/ex02/objs/
CPP04/ex02/abstract
CPP04/ex03/objs/
CPP04/ex03/interface